.loader {
  width: 65px;
  height: 42px;

  g#oval {
    animation: pulseToWhite 3s ease infinite;
    fill: $blue-color1;
  }

  g#y {
    animation: pulseToBlue 3s ease infinite;
    fill: white;
  }
}

@keyframes pulseToBlue {
  0% { fill: white; }
  50% { fill: $blue-color1; }
  100% { fill: white; }
}

@keyframes pulseToWhite {
  0% { fill: $blue-color1; }
  50% { fill: white; }
  100% { fill: $blue-color1; }
}