.alumni-card-root {
  --card-padding: 1.25rem;
  --card-padding-neg: -1.25rem;
  --ball-lines-height: 6px;
  --ball-lines-height-half: calc(var(var(--ball-lines-height) / 2));
  --ball-lines-width: 6px;
  --ball-lines-width-half: calc(var(--ball-lines-width) / 2);
  --ball-stroke-width: 0.5px;
}

.alumni-card-root {
  transition: transform 122ms ease-in;
  margin: 1rem;
  perspective: 1000px;
}

.alumni-card-flipper {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.alumni-card-root:hover {
  transform: scale(1.15);
  z-index: 1;
}

.alumni-card-root:hover .alumni-card-flip-btn {
  opacity: 1;
}

.alumni-card-flipper.alumni-card-flipper--flipped {
  transform: rotateY(-180deg);
}

.alumni-card {
  width: 250px;
  height: 370px;
  background-color: var(--app-bg);
  border: 1px solid lightgray;
  border-radius: 3px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: var(--card-padding);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.alumni-card__logo-image {
  height: 60px;
  position: absolute;
  left: 5px;
  filter: drop-shadow(1px 1px 0px white);
}

.alumni-card__logo-image.alumni-card__logo-image--dropLeft {
  height: 60px;
  position: absolute;
  left: 5px;
  filter: drop-shadow(-1px -1px 0px white);
}

.alumni-card__image {
  height: 295px;
  display: block;
  width: 235px;
  object-fit: cover;
}

.alumni-card__inner {
  border: 3px solid blue;
  border-left-color: var(--baby-blue);
  border-right-color: var(--baby-blue);
  position: relative;
  overflow: hidden;
}

.alumni-card__name-circle-spacer {
  position: absolute;
  height: 2.6875rem;
  width: 5.75rem;
  border-radius: 2.875rem 2.875rem 0 0;
  background: white;
  bottom: -1.5625rem;
  right: calc(50% - 3rem);
}

.alumni-card__name {
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 12px;
  left: calc(50% - 104px)
}

.alumni-card__firstname-container {
  height: 2.25rem;
  width: 5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  background: var(--royal-blue);
  color: whitesmoke;
}

.alumni-card__firstname {
  font-size: 0.75rem;
  margin-top: 12px;
}

.alumni-card__lastname-container {
  border: 3px solid var(--royal-blue);
  padding: 3px;
  width: 200px; /* 80% of card width */
}

.alumni-card__lastname-inner {
  border: 1px solid var(--almostBlack);
  border-radius: 2px;
}

.alumni-card__lastname {
  transform: scale(1,1.5);
}

.alumni-card__name-lower {
  height: 1rem;
  width: 5.25rem;
  background: var(--royal-blue);
  font-size: 0.6rem;
  color: whitesmoke;
}

.alumni-card__label {
  font-size: 0.6rem;
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: var(--navy-blue);
}

.alumni-card__label img {
  height: 7px;
}

.alumni-card.alumni-card--back {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(180deg);
}

.alumni-card-flip-btn {
  position: absolute;
  z-index: 2;
  transition: opacity 400ms;
  cursor: pointer;
  top: 10px;
  left: calc(100% - 29px);
  opacity: 0;
}

button.flip-button {
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 50%;
  background-color: var(--blue-stop-3);
  box-shadow: 0 0 20px 2.5px var(--baby-blue);
}

.alumni-card-flipper.alumni-card-flipper--flipped button.flip-button {
  box-shadow: 0 0 6px -1.5px var(--baby-blue);
}

.card-back-header {
  background-color: var(--navy-blue);
  color: var(--app-bg);
  margin: 0 var(--card-padding-neg);
  padding: 8px 2rem;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.card-back-header__first {
  font-weight: 600;
  transform: scaleY(1.1);
}

.card-back-header__last {
  font-weight: 700;
  transform: scaleY(1.4);
}

.card-back-team {
  margin: 0 var(--card-padding-neg);
  border-bottom: 1px solid black;
  height: 25%;
  background-color: var(--baby-blue);
}

.card-back__logo-image {
  height: 55px;
}

.card-back-detail {
  font-size: 0.75rem;
}

.card-back-flag {
  border: 1px solid lightgray;
  height: 18px;
}

.card-back-team__label {
  font-weight: bold;
  display: inline-block;
  margin-right: 3px;
  text-wrap: nowrap;
}

.card-back-team__value {
  display: inline-block;
}

.card-back-stats {
  background-color: var(--lightest-blue);
  padding: 0 var(--card-padding);
  margin: 0 var(--card-padding-neg);
  position: relative;
}

.stat-link-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 2;
  right: 0;
}

.card-back-stat-link-blur {
  height: 80%;
  width: 80%;
  border-radius: 6px;
  background: radial-gradient(closest-side, var(--lightest-blue) 60%, var(--app-bg) 80%);
  opacity: 0.75;
  box-shadow: 0px 0px 20px 8px var(--app-bg);
}

.card-back-stat-link {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  z-index: 3;
  font-size: 0.85rem;
  color: var(--navy-blue);
  text-decoration: none;
  opacity: 0.8;
  user-select: none;
}

.card-back-stat-link:visited {
  color: var(--navy-blue);
}

.card-back-links {
  background-color: var(--navy-blue);
  margin-left: var(--card-padding-neg);
  margin-right: var(--card-padding-neg);
  padding-bottom: 2px;
}

.card-back-links-header {
  font-weight: 900;
  font-size: 0.75rem;
  color: white;
}

.card-back-links-container {
  background-color: var(--app-bg);
  margin: 0 auto;
  width: 90%;
  padding: 2px 0;
}

.card-back-note {
  font-size: 0.6rem;
  text-align: left;
}

.card-back-byuhoops {
  height: 20px;
  opacity: 0.5;
  margin: 0 auto;
}

.card-back-footer {
  height: 25px;
  background-color: var(--navy-blue);
  margin: 0 var(--card-padding-neg);
  font-size: 0.6rem;
  color: white;
}

.card-back-footer a {
  color: white;
  text-decoration: none;
}

.card-back-footer a:visited {
  color: white;
}

.social-link:not(:first-child) {
  margin-left: var(--s);
}

.social-link:not(:first-child).social-link--facebook {
  margin-left: var(--xs);
}