#app {
  padding: 25px;
}

body {
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  color: $blue-color1;

  input {
    font: unset;
  }

  button {
    font: unset;
  }
}

.mt-reg {
  margin-top: 10px;
}

.mt-large {
  margin-top: 3rem;
}

.section {
  padding: 10px 0;

  .row {
    padding-bottom: 7px;
  }
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.ai-c {
    align-items: center;
  }
}

button {
  background-color: $blue-color1;
  color: white;
  border-radius: $border-radius-size;
  width: $input-width;
  cursor: pointer;
}

.main {
  &__container {
    margin-top: 5vh;
  }

  &__splash-image {
    width: 300px;
  }

  &__id-input {
    border-radius: $border-radius-size;
    width: $input-width;
    text-align: center;
  }
}